/* Optional: use this to override Trezo if needed */

.sidebar-area {
  transition: all 0.3s ease-in-out;
}

.main-wrapper.sidebar-collapsed .sidebar-area {
  transform: translateX(-100%);
}

.main-wrapper.sidebar-collapsed .container-fluid {
  margin-left: 0 !important;
}

.main-wrapper.sidebar-expanded .container-fluid {
  margin-left: 260px;
}
